.container.w-50
  .header-card
    %h1
      Edit #{resource_name.to_s.humanize}
  .body-card  
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true}) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group.mb-3
        = f.label :email, class: "form-label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .form-text
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group.mb-3
        = f.label :password, "New Password",class: "form-label"
        = f.password_field :password, autocomplete: "new-password", class: "form-control"
        - if @minimum_password_length
          .form-text
            #{@minimum_password_length} characters minimum
        .form-text
          (leave blank if you don't want to change it)
      .form-group.mb-3
        = f.label :password_confirmation, "Re-Enter New Password", class: "form-label"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .form-group.mb-3
        = f.label :current_password, class: "form-label"
        = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
        .form-text 
          (we need your current password to confirm your changes)
      .record-actions.mb-3
        = f.submit "Save", class: "action-btn btn btn-success"
    = link_to "Back", :back
