- content_for :title, "Account Registration"
.container.w-50
  .header-card
    %h1
      Sign Up
  .body-card
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .d-flex.mb-3
        .form-group.me-2.w-25
          = f.label :first_name, "First Name *", class: "form-label"
          = f.text_field :first_name, required: true, autofocus: true, class: "form-control"
        .form-group.me-2.w-25
          = f.label :middle_name, "Middle Name", class: "form-label"
          = f.text_field :middle_name, class: "form-control"
        .form-group.w-50
          = f.label :last_name, "Last Name *", class: "form-label"
          = f.text_field :last_name, required: true, class: "form-control"
      .form-group.w-50.mb-3
        = f.label :email, "Email *", class: "form-label"
        = f.email_field :email, required: true, autocomplete: "email", class: "form-control"
      .form-group.mb-3
        = f.label :birthday, "Birthday *", class: "form-label"
        .d-flex.align-content-between
          = f.date_select :birthday,
            { start_year: Date.today.year - 80,
              end_year: Date.today.year,
              default: { month: 1, day: 1, year: 2000 },
              order: [:month, :day, :year],
              include_blank: false },
            { class: "form-select w-25 me-2" }
      .form-group.w-50.mb-3
        = f.label :avatar, "Avatar Image", class: "form-label"
        = f.file_field :avatar, class: "form-control"
      .form-group.mb-3.w-50
        = f.label :password, "Password *", class: "form-label"
        = f.password_field :password, autocomplete: "new-password", class: "form-control"
        - if @minimum_password_length
          .form-text
            (#{@minimum_password_length} characters minimum)
      .mb-3.w-50
        = f.label :password_confirmation, "Re-Enter Password *", class: "form-label"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
      .record-actions
        = f.submit "Sign Up", class: "action-btn btn btn-success"
      .mt-2
        = link_to "Log In", new_session_path(resource_name)
