= form_with(model: family) do |form|
  - if family.errors.any?
    %div{style: "color: red"}
      %h2= "#{pluralize(family.errors.count, "error")} prohibited this family from being saved:"

      %ul
        - family.errors.each do |error|
          %li= error.full_message

  %div
    = form.label :name, style: "display: block"
    = form.text_field :name

  %div
    = form.submit
