- if family.errors.any?
  .text-danger.mb-3
    %h4= "#{pluralize(family.errors.count, "error")} prohibited this family from being saved:"
    %ul
      - family.errors.each do |error|
        %li= error.full_message

= form_with(model: family, local: true) do |form|
  .mb-3
    = form.label :name, class: "form-label"
    = form.text_field :name, class: "form-control"
  .record-actions.mb-1
    = form.submit "Update", class: "action-btn btn btn-success"
