- content_for :title, "Editing Family: #{@family.name}"

.container.w-50
  .header-card
    .row
      .col-2
      .col-8 
        %h1
          Editing Family: #{@family.name}
      .col-2
        .record-actions.mb-1.justify-content-end
          = button_to "Destroy", @family,
            method: :delete,
            class: "action-btn btn btn-danger",
            data: { turbo_confirm: "Are you sure you want to delete this family?" }
  
  .body-card
    .row
      = render "form", family: @family
    .record-actions.mb-1
      = link_to "Back", :back
  .row.justify-content-center
    .body-card.w-25
      .text-center
        %h4 Join Code
        %p
          = @family.join_code
