.container
  .header-card
    %h1
      Join Family
  .body-card
    = form_with url: join_families_path, method: :post, local: true do |f|
      .form-group.mb-3
        = f.label :join_code, "Enter Family Join Code", class: "form-label"
        = f.text_field :join_code,
          minlength: 6,
          maxlength: 6,
          required: true,
          class: "form-control text-uppercase w-25"
        .form-text.mt-2
          (6 characters)
      .me-1.mb-1
        = f.submit "Join Family", class: "btn btn-success"
        = link_to "Create a Family", new_family_path, class: "btn btn-primary"
      = link_to "Back", :back
