.container
  .header-card
    .row.align-items-center
      .col-2
      .col-8.text-center
        .h1
          = "#{@family.name.titleize} #{'Family' unless @family.name.include?("Family") || @family.name.include?("family")}"
      .col-2
        - if @family.admin?(current_user)
          .record-actions.justify-content-end
            = link_to "Edit", edit_family_path(@family), class: "btn btn-primary action-btn"

  .body-card
    %h3.mb-3
      Family Members

    - if @family.users.any?
      %ul.list-group
        .users
          = render "users/user", user: current_user
        - @family.users.reverse.each do |family_member|
          - unless family_member == current_user
            = render "users/user", user: family_member
    - else
      .text-muted No family members added yet.
