.container
  %h3.mt-2.mb-2
    = property.name
  .row
    .text.mb-2
      = property.description if property.description.present?
  .row
    .col-3
      .text
        %strong Address:
        = property.full_address
    .col-5
    .col-4
  .row
    .record-actions.mt-2
      = link_to "View",
        family_property_path(@current_family, property),
        class: "action-btn btn btn-primary me-2"
      - if @current_family.admin?(current_user)
        = link_to "Edit",
          edit_family_property_path(@current_family, property),
          class: "action-btn btn btn-success"