.container
  .row.align-items-center
    .col-12.col-md-8
      .row.mb-3
        %h3.mt-2
          = link_to vehicle.display_name,
                    family_vehicle_path(@current_family, vehicle),
                    class: "text-dark fw-bold stretched-link text-decoration-none"

        .col-3.col-md-3
          .badge.bg-secondary
            = vehicle.vehicle_type.humanize.titleize
      .row.mb-2
        .col-3.col-md-3
          %strong Make
          %br
          = vehicle.make
        .col-3.col-md-3
          %strong Model
          %br
          = vehicle.model
        - if vehicle.year.present?
          .col-3.col-md-3
            %strong Year
            %br
            = vehicle.year

      .row.mb-2
        - if vehicle.color.present?
          .col-3.col-md-3
            %strong Color
            %br
            = vehicle.color
        - if vehicle.license_plate.present?
          .col-3.col-md-3
            %strong Plate
            %br
            = vehicle.license_plate

    .col-12.col-md-4.text-end
      - if vehicle.image.attached?
        = image_tag vehicle.image.variant(resize_to_fill: [400, 250]), class: "rounded shadow-sm img-fluid"
      - else
        = image_tag "default_vehicle.jpg", class: "rounded shadow-sm img-fluid", style: "width: 300px; height: 200px;"