- due_date = account.due_date
- ui_date = Date.current.change(day: due_date.day)
- ui_date = ui_date.next_month if ui_date < Date.current

.container
  %h3.mt-2.mb-2
    = account.name
  .text
    %strong Due date:
    = ui_date.strftime("%B #{ui_date.day.ordinalize}")
  .record-actions.mt-2
    = link_to "View",
      family_account_path(@current_family, account),
      class: "action-btn btn btn-primary me-2"
    - if @current_family.admin?(current_user)
      = link_to "Edit",
        edit_family_account_path(@current_family, account),
        class: "action-btn btn btn-success"