= form_with(model: [@current_family, @account]) do |form|
  = render "shared/errors", object: @account
  .form-group.mb-3
    = form.label :name, "Account Name", class: "form-label"
    = form.text_field :name, class: "form-control w-50"

  .form-group.mb-3
    = form.label :due_date, class: "form-label"
    .d-flex.align-content-between

      = form.date_select :due_date,
      { discard_year: true,
        order: [:month, :day]},
      {class: "form-select me-2 form-date"}

  .record-actions
    = form.submit "Save", class: "action-btn btn btn-success"
